@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* navigation section*/
* {
 box-sizing: border-box;
}

body {
 margin: 0px;
 font-family: 'segoe ui';
}

.nav {
 height: 50px;
 width: 100vw;
 background-color: #4d4d4d;
}

.nav > .nav-header {
 display: inline;
}

.nav > .nav-header > .nav-title {
 display: inline-block;
 font-size: 22px;
 color: #fff;
 padding: 10px 10px 10px 130px;
}
/* image section*/


.formdiv{
  display: flex;
}
.container {
  padding: 65px 10px 10px 200px;
  
 
}
.details{
  padding: 8px 10px 10px 85px;
}

.img{
  width: 45%;
  clip-path: circle();

} 




.cont {
  padding: 50px 50px 10px 30px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.cancelbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
}

.cancelbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}


.savebtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
}

.savebtn:hover {
  opacity: 1;
}






















