* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
.samples{
    display: flex;
}
.formdiv{
  display: flex;
}

.container {
    padding: 65px 10px 10px 200px;
    
    
    
   
  }
  .details{
    padding: 8px 10px 10px 85px;
  }
  
  .img{
    width: 40%;
    
    clip-path: circle();
    
    
  
  } 